html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Euclid Circular A", "Poppins";
  background: #8367c5;
  color: #1a1a1a;
}

.banner,
h1,
button {
  transition: 0.6s;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60%;
  background: url("bg.webp");
  background-size: 180%;
  background-position: center;
  transition: 0.5s;
}

.banner h1 {
  font-size: 50px;
  color: #f9f9f9;
}

.banner button {
  padding: 16px 26px;
  border-radius: 50px;
  border: 0;
  background: rgb(0 0 0 / 20%);
  backdrop-filter: blur(8px);
  color: #f9f9f9;
  font-size: 20px;
  font-family: inherit;
}

.container::before {
  content: "";
  position: absolute;
  z-index: 0;
  top: -40px;
  left: -25vw;
  width: 150vw;
  height: 180px;
  rotate: -2deg;
  background: inherit;
}

.container {
  position: relative;
  background: #161519;
  color: #f9f9f9;
  padding: 30px 15%;
}

h2,
p {
  position: relative;
  z-index: 1;
}

h2 {
  font-size: 28px;
}

p {
  opacity: 0.5;
}
