:root {
  --color-background: #0c0b0f;
}

body {
  margin: 0;
  font-family: "Euclid Circular A", "Poppins";
  background: var(--color-background);
  text-align: center;
}

* {
  box-sizing: border-box;
}

progress {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 8px;
  border: none;
  background: transparent;
}

progress::-webkit-progress-bar {
  background: rgb(255 255 255 / 16%);
}

progress::-webkit-progress-value {
  background-color: #8f44fd;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 92px;
  background: rgb(12 11 15 / 50%);
  backdrop-filter: blur(10px);
  color: rgb(255 255 255 /96%);
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);
  padding: 0 20px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

nav .links {
  margin-left: auto;
  display: flex;
  gap: 16px;
}

nav i {
  font-size: 24px;
}

nav h1 {
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}

main {
  height: 100vh;
  perspective: 2px;
}

section {
  transform-style: preserve-3d;
  position: relative;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
  color: white;
}

section:nth-child(even) {
  background-color: rgb(255 255 255 / 4%);
}

section:last-child {
  height: 60vh;
}

.no-parallax {
  background-color: var(--color-background);
  z-index: 1;
  padding: 0 80px;
  gap: 50px;
  justify-content: center;
}

.no-parallax p {
  opacity: 0.5;
  margin: 0;
}

.no-parallax img {
  width: 220px;
}

.parallax {
  height: 40vh;
}

section h1 {
  text-align: center;
  font-size: 60px;
}

.parallax::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-1px) scale(1.5);
  background-size: 100%;
  z-index: 0;
}

.bg::after {
  background: url("bg.png");
  background-size: cover;
}

h2 {
  font-weight: 400;
}

footer .footer-inner {
  display: flex;
  text-align: left;
}

footer ul {
  list-style: none;
  padding: 0 40px 0 0;
}

footer ul:last-of-type {
  padding: 0;
}

footer ul li {
  font-weight: 400;
  opacity: 0.6;
  margin-bottom: 10px;
}
