* {
  box-sizing: border-box;
}

body {
  font-family: "Euclid Circular A", Poppins;
  color: #f9f9f9;
}

button {
  border: 0;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.swiper {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.swiper-slide {
  display: grid;
  place-items: center;
  opacity: 0;
  transition: 0.25s;
}

.swiper-slide-active {
  opacity: 1;
}

.swiper-slide > div {
  margin-top: -73px;
}

.swiper-slide h2 {
  opacity: 0.35;
  font-weight: 400;
  width: 100%;
}

.swiper-button-next,
.swiper-button-prev {
  opacity: 0.5;
  color: rgb(255 255 255 / 96%);
  transition: 0.3s;
}

:is(.swiper-button-next, .swiper-button-prev):hover {
  opacity: 1;
}

.swiper-button-next {
  right: 50px;
}

.swiper-button-prev {
  left: 50px;
}

.burger-icon,
.menu,
.background {
  position: fixed;
}

.background {
  z-index: 1;
  top: -5%;
  left: -5%;
  width: 110%;
  height: 110%;
  background-image: url("assets/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.45s;
}

.background::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  background: rgb(0 0 0 / 60%);
}

body.open .background {
  filter: blur(10px);
}

.burger {
  position: relative;
  z-index: 3;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  width: 120px;
  height: 120px;
}

.menu {
  z-index: 2;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 60%);
  opacity: 0;
  visibility: hidden;
  transition: 0.45s;
}

body.open .menu {
  opacity: 1;
  visibility: visible;
}

.menu nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu nav:hover a {
  opacity: 0.25;
}

.menu nav a:hover {
  opacity: 1;
}

.menu a {
  position: relative;
  color: #f9f9f9;
  font-size: 32px;
  font-family: "Euclid Circular A";
  padding: 20px 0;
  width: 260px;
  text-decoration: none;
  transition: 0.4s;
}

.menu a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background: #f7f7f7;
  transform: scaleX(0);
  transform-origin: 0% 50%;
  transition: 0.4s;
}

.menu a:hover::after {
  transform: scaleX(1);
}

.burger-icon {
  position: relative;
  width: 32px;
  border: 0;
  scale: 1.25;
}

.burger-icon,
.burger-icon::before,
.burger-icon::after {
  display: block;
  border-radius: 2px;
  height: 2px;
  background: #f9f9f9;
  transition: 0.45s;
}

.burger-icon::before,
.burger-icon::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
}

.burger-icon::before {
  top: -8px;
}

.burger-icon::after {
  top: 8px;
}

.burger-icon {
  transition: none;
  height: 0;
}

.burger-icon::before,
.burger-icon::after {
  transition-timing-function: linear;
  transition-duration: 0.15s;
}

.burger-icon::before {
  top: -4px;
}

.burger-icon::after {
  top: 3px;
}

body.open .burger-icon::before {
  transform: rotate(-45deg) translate(-3px, 2px);
}

body.open .burger-icon::after {
  transform: rotate(45deg) translate(-2px, -3px);
}
