body {
  margin: 0;
  background: linear-gradient(#220f4b, #523095);
  display: grid;
  place-items: center;
  height: 100vh;
}

.atropos {
  height: 380px;
  width: 560px;
}

.atropos-inner {
  border-radius: 20px;
  background: linear-gradient(#55199f, #090420);
}

.layer {
  position: absolute;
  left: -50%;
  top: -25%;
  width: 200%;
  height: 200%;
  object-fit: contain;
  display: block;
  z-index: -1;
  transform-style: preserve-3d;
  pointer-events: none;
}

.logo {
  width: 100%;
}
